body {
	font-family: Arial, sans-serif;
	text-align: center;
	color: red;
	position: relative; /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
	left: -680px;
	top: 250px;
}

h1 {
	margin-top: 50px;
	font-size: 20px;
}

#keyboard {
	margin-top: 20px;
	display: inline-block;
}

.row {
	display: flex;
	justify-content: center;
}

/* testing */
/*
.key {
	font-weight: bold;
	position: relative;
	width: 120px;
	height: 120px;
	font-size: 32px;
	line-height: 120px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.key:hover {
	background-color: lightgray;
	transform: scale(0.97);
	background-image: url("Pictures/abc.jpg");
	background-size: cover;
}
*/

/* Final product */
.key {
	font-weight: bold;
	position: relative;
	width: 120px;
	height: 120px;
	font-size: 32px;
	line-height: 120px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	background-image: url("Pictures/abc.jpg");
	background-size: cover;
}

.key:hover {
	background-color: lightgray;
	transform: scale(0.97);
}

.key:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("Pictures/whiteBG.jpg");
	background-size: cover;
	opacity: 1;
	z-index: -1;
}

#key1:before {
	background-position: top left;
}

#key2:before {
	background-position: top center;
}

#key3:before {
	background-position: top right;
}

#key4:before {
	background-position: center left;
}

#key5:before {
	background-position: center center;
}

#key6:before {
	background-position: center right;
}

#key7:before {
	background-position: bottom left;
}

#key8:before {
	background-position: bottom center;
}

#key9:before {
	background-position: bottom right;
}

.key:active {
	transform: scale(0.90);
}

.darkness {
	background-color: black;
	width: 100%;
	height: 100%;
	background-size: cover;
}